#dataentry {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  border-radius: 50px 50px 5px 5px;
  background: #b1b3d4;
  font-weight: 100;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#dataentry h1 {
  margin: 0;
  padding: 30px 60px 0 30px;
  color: #ffffff;
  font-size: 31px;
  letter-spacing: -1px;
  line-height: 27px;
}
#dataentry h2 {
  font-size: 21px;
  padding: 0 0 0 40px;
  margin: 0;
  color: #333333;
}
#dataentry input {
  border-width: 1px;
  border-radius: 6px;
  background: #ffffff;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  color: #454545;
  padding: 5px;
  margin: 10px 10px 4px 10px;
}




.ssdistcontainer {
  display: grid;
  grid-template-columns: 7em repeat(9, [col] auto ) 50%;
  grid-template-areas:
    "interactive header header header header header header header header header";
  "box box box box box box box box";
  grid-gap: 0em;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  padding: .25em;
}

.distcontainer {
  display: grid;
  grid-template-columns: 7em 1em repeat(2, [col] auto ) 50%;
  grid-template-areas:
    "interactive interactive header header ";
    "box box box box";
  grid-gap: 0em;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  padding: .25em;
}

.distpickcontainer {
  display: grid;
  grid-template-columns: repeat(5, [col] auto );
  grid-gap: 0em;
  background-color: #fff;
  padding: 1em;
}

.ssdistheader {
  grid-column: 2 / 10;
	grid-row: 1;
  grid-area: header;
  text-align: center;
  font-size: 1em;
}

.distheader {
  grid-column: 1 / 4;
	grid-row: 1;
  grid-area: header;
  text-align: center;
  font-size: 1em;
}

.distinteractive {
  background-color: #ddd;
  color: #000;
  padding: 2px;
  text-align: center;
  font-size: .75em;
}

.distbox {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  color: #000;
  padding: 2px;
  text-align: center;
  font-size: .75em;
}

.distbox:nth-child(even) {
  background-color: #eee;
}

.ssdistpaperwork {
	grid-column: 11;
	grid-row: 1 / 11;
  background-color: #fff;
  color: #000;
  padding: 2px;
  text-align: center;
  font-size: 1em;
}

.distpaperwork {
	grid-column: 5;
	grid-row: 1 / 20;
  background-color: #fff;
  color: #000;
  padding: 2px;
  text-align: center;
  font-size: 1em;
}


.distpickbox {
  background-color: #fff;
  color: #000;
  padding: .25em;
  text-align: left;
  font-size: 1em;
}
