#dataentry {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  border-radius: 50px 50px 5px 5px;
  background: #b1b3d4;
  font-weight: 100;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#dataentry h1 {
  margin: 0;
  padding: 30px 60px 0 30px;
  color: #ffffff;
  font-size: 31px;
  letter-spacing: -1px;
  line-height: 27px;
}
#dataentry h2 {
  font-size: 21px;
  padding: 0 0 0 40px;
  margin: 0;
  color: #333333;
}
#dataentry input {
  border-width: 1px;
  border-radius: 6px;
  background: #ffffff;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  color: #454545;
  padding: 5px;
  margin: 10px 10px 4px 10px;
}




.ssdistcontainer {
  display: grid;
  grid-template-columns: 7em repeat(9, [col] auto ) 50%;
  grid-template-areas:
    "interactive header header header header header header header header header";
  "box box box box box box box box";
  grid-gap: 0em;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  padding: .25em;
}

.distcontainer {
  display: grid;
  grid-template-columns: 7em repeat(2, [col] auto ) 70%;
  grid-gap: 0em;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  padding: .25em;
}

.distpickcontainer {
  display: grid;
  grid-template-columns: repeat(5, [col] auto );
  grid-gap: 0em;
  background-color: #fff;
  padding: 1em;
}

.distinfocontainer {
  display: grid;
  grid-template-columns: repeat(9, [col] auto );
  grid-gap: 0em;
  background-color: #fff;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  padding: 1em;
}

.ssdistheader {
  grid-column: 2 / 10;
	grid-row: 1;
  grid-area: header;
  text-align: center;
  font-size: 1em;
}

.distheader {
  grid-column: 2 / 4;
	grid-row: 1;
  text-align: center;
  font-size: 1em;
}

.distinteractive {
  grid-column: 1;
  grid-row: 1;
  background-color: #ddd;
  color: #000;
  padding: 2px;
  text-align: center;
  font-size: .75em;
}

.ssdistpaperwork {
  grid-column: 11;
  grid-row: 1 / 20;
  background-color: #fff;
  color: #000;
  padding: 2px;
  text-align: center;
  font-size: 1em;
}

.distpaperwork {
  grid-column: 4;
  grid-row: 1 / 20;
  background-color: #fff;
  color: #000;
  padding: 2px;
  text-align: center;
  font-size: 1em;
}

.distbox {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  color: #000;
  text-align: center;
  vertical-align: middle;
  font-size: .75em;
}

.distpickbox {
  background-color: #fff;
  color: #000;
  padding: .25em;
  text-align: left;
  font-size: 1em;
}

.distbox input {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  width: 5em;
  margin: 6px 0px 5px 0px;
}

.shiftlabel { grid-row: 2; }
.shift0 { grid-row: 3; background-color: #eee; }
.shift1 { grid-row: 4; }
.shift2 { grid-row: 5; background-color: #eee; }
.shift3 { grid-row: 6; }
.shift4 { grid-row: 7; background-color: #eee; }
.shift5 { grid-row: 8; }
.shift6 { grid-row: 9; background-color: #eee; }
.shift7 { grid-row: 10; }
.shift8 { grid-row: 11; background-color: #eee; }
.shift9 { grid-row: 12; }
.shift10 { grid-row: 13; background-color: #eee; }
.shift11 { grid-row: 14; }
.shift12 { grid-row: 15; background-color: #eee; }
.shift13 { grid-row: 16; }
.shift14 { grid-row: 17; background-color: #eee; }
.prodlabel { grid-column: 1; }
.prod1 { grid-column: 2; }
.prod2 { grid-column: 3; }
